<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} - Download Website PDF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.svg?v={% version %}" type="image/svg+xml">
  {# <link rel="icon" href="/images/favicon.ico?v={% version %}" type="image/x-icon"> #}
  <link rel="stylesheet" href="/css/palette.css?v={% version %}">
  <link rel="stylesheet" href="/css/styles.css?v={% version %}">
  <link rel="stylesheet" href="/css/landing.css?v={% version %}">
  <link rel="stylesheet" href="/css/base/header.css?v={% version %}">
  <link rel="stylesheet" href="/css/base/footer.css?v={% version %}">
  <link rel="stylesheet" href="/css/post.css?v={% version %}">
  <link rel="stylesheet" href="/css/post-preview.css?v={% version %}">
  <link rel="stylesheet" href="/css/releases.css?v={% version %}">
  {% if required_css %}
    {% for css_file in required_css %}
      <link rel="stylesheet" href="{{ css_file }}?v={% version %}">
    {% endfor %}
  {% endif %}
  <script src="/js/theme-init.js?v={% version %}"></script>
</head>
<body>
    {% include "base/header.njk" %}
    <main>
        <div class="wrapper main-content">
            {{ content | safe }}
        </div>
    </main>
    {% include "base/footer.njk" %}
    <script src="/js/theme-toggle.js?v={% version %}"></script>
    <script src="/js/analytics.js?v={% version %}"></script>
</body>
</html>