<footer>
    <div class="wrapper footer-content">
        <div class="footer-main-information">
            <p>© 2026</p>
        </div>
        <div class="footer-navigation-wrapper">
            <div class="footer-navigation-section">
                <span>Company</span>
                <a href="https://boringsoft.io/?utm_source=download-site-pdf&utm_campaign=footer&utm_content=foote" target="_blank">boringsoft.io</a>
                <a href="https://github.com/boringsoft1?utm_source=download-site-pdf&utm_campaign=footer&utm_content=footer" target="_blank">github/boringsoft1</a>
            </div>
            <div class="footer-navigation-section">
                <span>Product</span>
                <a href="/privacy-policy/">Privacy Policy</a>
                <a href="/support/">Support</a>
                <a href="/faq/">FAQ</a>
                <a href="/releases/">Changelog</a>
                <a href="/articles/">Articles</a>
            </div>
        </div>
    </div>
</footer>