<header>
    <div class="wrapper">
        <div class="header-content">
            <div class="header-title">
                <a class="header-title-container" href="/">
                    {% include "svg/logo-main.svg" %}
                    <span>Download Website PDF</span>
                </a>
            </div>
            <div class="header-items">
                <div class="header-navigation">
                    <a href="/faq/">FAQ</a>
                    <a href="/privacy-policy/">Privacy Policy</a>
                </div>
                <div id="theme-toggle" class="theme-toggle" role="button" tabindex="0">
                    {% include "svg/dark-thene-btn.svg" %}
                </div>
            </div>
        </div>
    </div>
</header>