---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.draft %}
  <url>
    <loc>https://boringsoft.io{{ page.url }}</loc>
    <lastmod>{{ (page.updated or page.date) | date("YYYY-MM-DDTHH:mm:ssZ") }}</lastmod>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>